In [1]:
%ls

Assignment 2/
Assignment 2.zip
Assignment 2_ two probability based models.docx
Untitled.ipynb
assign2_BNdata.txt
assign2_umbrella.txt
~$signment 2_ two probability based models.docx

In [4]:
import pandas as pd

In [22]:
a = pd.read_csv('assign2_umbrella.txt',sep = '\t')
print(a.shape)
a.head()

(99, 2)

   day 1    no umbrella
0  day 2  take umbrella
1  day 3  take umbrella
2  day 4  take umbrella
3  day 5  take umbrella
4  day 6    no umbrella

In [19]:
b = pd.read_csv('assign2_BNdata.txt',sep = '\t')
print(b.shape)
b.head()

(683, 6)

   sample-id  a  b  c  d  e
0          1  1  1  1  1  1
1          2  1  2  1  2  1
2          3  1  1  1  1  1
3          4  1  3  1  1  2
4          5  1  1  1  1  1

In [17]:
b[['a','b','c','d','e']].nunique()

a    2
b    3
c    3
d    2
e    2
dtype: int64

In [23]:

import numpy as np

def get_p_b_cd():
    # you need to implement this method.
    p_b_cd = np.zeros((3,3,2),dtype = np.int)
    return p_b_cd

def get_p_a_be():
    # you need to implement this method.
    p_a_be = np.zeros((2,3,2),dtype = np.int)
    return p_a_be


# following lines are main function:
data_add = "data//assign2_BNdata.txt"

# probability distribution of b.
p_b_cd=get_p_b_cd()
for c in range(3):
    for d in range(2):
        for b in range(3):
            print("P(b=" + str(b+1) + "|c=" + str(c+1) + ",d=" + str(d+1) + ")=" + str(p_b_cd[b][c][d]))


# probability distribution of a.
p_a_be=get_p_a_be()
for b in range(3):
    for e in range(2):
        for a in range(2):
            print("P(a=" + str(a+1) + "|b=" + str(b+1) + ",e=" + str(e+1) + ")=" + str(p_a_be[a][b][e]))

P(b=1|c=1,d=1)=0
P(b=2|c=1,d=1)=0
P(b=3|c=1,d=1)=0
P(b=1|c=1,d=2)=0
P(b=2|c=1,d=2)=0
P(b=3|c=1,d=2)=0
P(b=1|c=2,d=1)=0
P(b=2|c=2,d=1)=0
P(b=3|c=2,d=1)=0
P(b=1|c=2,d=2)=0
P(b=2|c=2,d=2)=0
P(b=3|c=2,d=2)=0
P(b=1|c=3,d=1)=0
P(b=2|c=3,d=1)=0
P(b=3|c=3,d=1)=0
P(b=1|c=3,d=2)=0
P(b=2|c=3,d=2)=0
P(b=3|c=3,d=2)=0
P(a=1|b=1,e=1)=0
P(a=2|b=1,e=1)=0
P(a=1|b=1,e=2)=0
P(a=2|b=1,e=2)=0
P(a=1|b=2,e=1)=0
P(a=2|b=2,e=1)=0
P(a=1|b=2,e=2)=0
P(a=2|b=2,e=2)=0
P(a=1|b=3,e=1)=0
P(a=2|b=3,e=1)=0
P(a=1|b=3,e=2)=0
P(a=2|b=3,e=2)=0